* {
  padding: 0;
  margin: 0;
}
body {
  background: #e2eafc;
  font-family: "Poppins", "sans-serif";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}
.mainCard {
  width: 500px;
  height: 400px;
  border: 2px solid #03045e;
  background: #abc4ff;
  border-radius: 10px;
  padding: 50px;
}
.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 25px;
  font-weight: 600;
}
.genPass {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  width: 500px;
  background: #e2eafc;
  height: 50px;
  border: 2px solid #264653;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  /* align-content: center; */
}
.lengthBox {
  padding: 10px;
  height: 10px;
  width: 10px auto;
  border-radius: 5px;
  background: #e2eafc;
  border: 2px solid #264653;
}
.checkbox {
  width: 20px;
  height: 20px;
  background: #e2eafc;
  border: 2px solid #264653;
  border-radius: 50%;
}
.Bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn button {
  width: 200px;
  height: 50px;
  margin: 10px;
  border: 2px solid #264653;
  background: #e2eafc;
  border-radius: 5px;
  font-size: 15px;
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 15px;
}
svg {
  height: 35px;
  width: 35px;
  fill: #264653;
}
.genPass #password {
  width: 300px;
  margin-left: 15px;
}
.genPass button {
  background: transparent;
  border: transparent;
  margin-right: 6px;
}
svg:hover {
  fill: #8093f1;
}
.btn button:hover {
  border: 3px solid #b6ccfe;
  border-radius: 10px;
  background: #8093f1;
}
